@media (max-width: 325px) {
    .half .top {
        height: 100%;
    }
    .half .top img {
        width: 90px;
        height: 50px;
    }
    .half .top h1 {
        font-size: 20px;
        left: 90px;
        top: 0;
    }
}

@media (max-width: 991.98px) {
    .half .top .form-block {
        width: 100%;
    }
    .half .top img {
        width: 90px;
        height: 50px;
    }
    .half .top h1 {
        font-size: 20px;
        left: 90px;
        top: 0;
    }
}

.half .contents {
    background: #fff;
}

.half .contents {
    width: 80%;
}

@media (max-width: 1199.98px) {
    .half .contents,
    .half .top {
        width: 100%;
    }
}

@media (max-width: 1247px) {
    .half .contents {
        width: 100%;
    }
    .half .form-block {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .form-block {
        width: 100%;
        padding: 25px;
    }
}