@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body {
    font-family: 'Lora', serif;
    background-color: #ffffff;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lora', serif;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.content {
    padding: 22rem 0 0 0;
}

.half .top {
    height: 70px;
    left: 0px;
    top: 0px;
    background: #A33838;
}

.half .top h1 {
    position: absolute;
    width: 200px;
    height: 62px;
    left: 158px;
    top: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    /* identical to box height */
    color: #FFFFFF;
}

.half .top-after {
    height: 35px;
    background: #000000;
}

.half .top img {
    position: absolute;
    width: 165px;
    height: 114px;
}

@media (max-width: 325px) {
    .half .top {
        height: 100%;
    }
    .half .top img {
        width: 90px;
        height: 50px;
    }
    .half .top h1 {
        font-size: 20px;
        left: 90px;
        top: 0;
    }
}

@media (max-width: 991.98px) {
    .half .top .form-block {
        width: 100%;
    }
    .half .top img {
        width: 90px;
        height: 50px;
    }
    .half .top h1 {
        font-size: 20px;
        left: 90px;
        top: 0;
    }
}

.half .contents {
    background: #fff;
}

.half .contents {
    width: 80%;
}

@media (max-width: 1199.98px) {
    .half .contents,
    .half .top {
        width: 100%;
    }
}

@media (max-width: 1247px) {
    .half .contents {
        width: 100%;
    }
    .half .form-block {
        width: 100%;
    }
}

.half .contents .form-control,
.half .top .form-control {
    border: none;
    border-radius: 4px;
    height: 54px;
    background: #efefef;
}

.half .top {
    background-size: cover;
    background-position: center;
}

.half a {
    color: #888;
    text-decoration: underline;
}

.btn {
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #408CFF;
    color: #fff;
    border-radius: 10px;
    place-items: center;
    box-shadow: #094c66 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
    border: none;
}

.button {
    justify-content: center;
    align-items: center;
    display: flex;
}

.half .btn :active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.form-block {
    background: #E6E6E6;
    padding: 30px;
    margin-top: -330px;
    border-radius: 28px;
}

.form-block img {
    width: 207px;
    height: 144px;
    left: 856px;
    top: 100px;
}

@media (max-width: 991.98px) {
    .form-block {
        width: 100%;
        padding: 25px;
    }
}

.navbar {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding: 15px;
    background: #A33838;
    /* box-shadow: 0 0 10px gray; */
    position: fixed;
    z-index: 9999;
    display: flex;
    color: #ffffff;
}

.navbar .toggler-navbar {
    margin-right: 10px;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
}

.sidebar {
    position: fixed;
    top: 78px;
    left: 0;
    width: 300px;
    height: 100%;
    background: #A33838;
    text-align: left;
    font-size: 20px;
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: left center;
    transition: .5s;
}

.sidebar.open {
    transform: rotate3d(0, 0, 1, 0deg);
}

.sidebar ul {
    list-style: none;
}

.sidebar li:hover,
.sidebar li.active {
    background: #0000003f;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block
}

.hamburger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2.5px;
}

.hamburger-menu span:nth-child(2) {
    top: 11px;
}

.hamburger-menu span:nth-child(3) {
    top: 21px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger-menu.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.main {
    position: relative;
    min-height: 890px;
    background: #DF3C3C;
    background-size: cover;
}

.main .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main .overlay .logo {
    width: 200px;
    margin-bottom: 30px;
    -webkit-filter: drop-shadow(0 0 40px rgba(206, 212, 218, 0.4));
    filter: drop-shadow(0 0 40px rgba(206, 212, 218, 0.4));
}

.main .overlay .subtitle {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1200 - 320)));
    font-weight: 700;
    margin-bottom: 0;
    line-height: 70px;
    text-align: center;
}

.main .overlay .title {
    font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
    font-weight: bold;
    line-height: 120px;
    text-align: center;
}

.main .overlay .form-predict {
    border: none;
    border-radius: 15px;
    height: 54px;
    width: 70%;
    background: #efefef;
    font-size: 30px;
}